# Ignore node_modules directory
node_modules/

# Ignore environment variable files
.env

# Ignore data files
elythera.db

# Ignore log files
*.log

# Ignore dependency directories
/lib
/bin

# Ignore build and dist directories
/build/
/dist/

# Ignore local env files
.env.local
.env.*.local

# Ignore OS-specific files
.DS_Store
Thumbs.db
